
<!--<div class="x_panel">-->
    <!--<div class="x_title">-->
        <!--<p class="lead">Paste your link below</p>-->

    <!--</div>-->
    <!--<div class="x_content">-->
        <!--<form style="text-align: center;" ng-submit="shorten1()">-->
            <!--<div class="input-group">-->
                <!--<input type="text" class="form-control input-lg" placeholder="Paste Link here..." ng-model="urlentry.longurl">-->
                                <!--<span class="input-group-btn">-->
                                    <!--<button class="btn btn-primary btn-lg" type="submit">Go!</button>-->
                                <!--</span>-->
            <!--</div>-->

            <!--<div class="container">-->
                <!--<div class="pull-left advanced-options"><a ng-click="isAdvancedFormOpen = !isAdvancedFormOpen">Advanced Options</a></div>-->
            <!--</div>-->
            <!--<div class="row" ng-show="isAdvancedFormOpen">-->
                <!--<hr/>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="alias" ng-model="urlentry.userId">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="alias" ng-model="urlentry.alias">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="description" ng-model="urlentry.description">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="description" ng-model="urlentry.password">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="description" ng-model="urlentry.click">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="description" ng-model="urlentry.metaTitle">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="description" ng-model="urlentry.metaDescription">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<!--asfsdfsd-->
<!--<p ng-show="shorturl.longurl">[[shorturl.longurl]]</p>-->
<!--<p ng-show="shorturl.shortcode">[[shorturl.shortcode]]</p>-->
<!--<p ng-show="shorturl.error">[[shorturl.error]]</p>-->
<!--<p ng-show="error">[[error]]</p>-->
<!--<p ng-show="shorturl.login">[[shorturl.login]]</p>-->

<div class="row m-b-30">
    <div class="col-sm-10 col-md-8 col-lg-6 center-block">
        <form style="text-align: center;" ng-submit="shorten()">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Paste Link here..." ng-model="urlentry.longurl">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-compress fa-lg"></i></button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 center-block">
        <div class="well" ng-show="shorturl">
            <div class="row">
                <div class="col-sm-8">
                    <div ng-hide="shorturl.longurlindex">
                        <div ng-repeat="x in shorturl">
                                    <p class="lead-plus0 m-b-5">
                                        <a href="#">[[rooturl]][[x.shortcode]]</a>
                                        <button class="btn btn-default btn-xs m-t-n5 m-l-5"><i class="fa fa-copy"></i> COPY</button>
                                    </p>
                                    <p><small>[[x.longurl]]</small></p>
                        </div>
                    </div>
                    
                    <div ng-show="shorturl.longurlindex">
                                <p class="lead-plus0 m-b-5">
                                    <a href="#">[[rooturl]][[shorturl.shortcode]]</a>
                                    <button class="btn btn-default btn-xs m-t-n5 m-l-5"><i class="fa fa-copy"></i> COPY</button>
                                </p>
                                <p><small>[[shorturl.longurl]]</small></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="m-l-10 lead pull-right"><i class="fa fa-facebook-square"></i></a>
                    <a href="#" class="m-l-10 lead pull-right"><i class="fa fa-twitter-square"></i></a>
                    <a href="#" class="m-l-10 lead pull-right"><i class="fa fa-bar-chart"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="alert alert-danger" role="alert" ng-show="error">
    <p>[[error.message]]</p>
</div>

