/*body*/
body{font-size: 13px;}

/*grid*/
.center-block{float: none;}

/*font rules*/
.lead-plus0{font-size: 15px;}
.lead-plus1{font-size: 24px;}
.lead-plus2{font-size: 30px;}

/*buttons*/
.btn-xs, .btn-group-xs > .btn{font-size: 11px; line-height: 1.0;}

/*color #3391bd*/
.color-gray-lighter{color: #eeeeee}
.color-gray-light{color: #777777}
.color-gray{color: #555555}
.color-gray-dark{color: #333333}
.color-gray-darker{color: #222222}

.color-gray-lighter-bg{background: #eeeeee}
.color-gray-light-bg{background: #777777}
.color-gray-bg{background: #555555}
.color-gray-dark-bg{background: #333333}
.color-gray-darker-bg{background: #222222}

/*margin rules*/
.m-b-n5{margin-bottom: -5px;}
.m-b-0{margin-bottom: 0;}
.m-b-5{margin-bottom: 5px;}
.m-b-10{margin-bottom: 10px;}
.m-b-15{margin-bottom: 15px;}
.m-b-20{margin-bottom: 20px;}
.m-b-25{margin-bottom: 25px;}
.m-b-30{margin-bottom: 30px;}

.m-t-n5{margin-top: -5px;}
.m-t-0{margin-top: 0;}
.m-t-5{margin-top: 5px;}
.m-t-10{margin-top: 10px;}
.m-t-15{margin-top: 15px;}
.m-t-20{margin-top: 20px;}
.m-t-25{margin-top: 25px;}
.m-t-30{margin-top: 30px;}

.m-r-n5{margin-right: -5px;}
.m-r-0{margin-right: 0;}
.m-r-5{margin-right: 5px;}
.m-r-10{margin-right: 10px;}
.m-r-15{margin-right: 15px;}
.m-r-20{margin-right: 20px;}
.m-r-25{margin-right: 25px;}
.m-r-30{margin-right: 30px;}

.m-l-n5{margin-left: -5px;}
.m-l-0{margin-left: 0;}
.m-l-5{margin-left: 5px;}
.m-l-10{margin-left: 10px;}
.m-l-15{margin-left: 15px;}
.m-l-20{margin-left: 20px;}
.m-l-25{margin-left: 25px;}
.m-l-30{margin-left: 30px;}

/*padding rules*/
.p-b-0{padding-bottom: 0;}
.p-b-5{padding-bottom: 5px;}
.p-b-10{padding-bottom: 10px;}
.p-b-15{padding-bottom: 15px;}
.p-b-20{padding-bottom: 20px;}
.p-b-25{padding-bottom: 25px;}
.p-b-30{padding-bottom: 30px;}

.p-t-0{padding-top: 0;}
.p-t-5{padding-top: 5px;}
.p-t-10{padding-top: 10px;}
.p-t-15{padding-top: 15px;}
.p-t-20{padding-top: 20px;}
.p-t-25{padding-top: 25px;}
.p-t-30{padding-top: 30px;}

.p-r-0{padding-right: 0;}
.p-r-5{padding-right: 5px;}
.p-r-10{padding-right: 10px;}
.p-r-15{padding-right: 15px;}
.p-r-20{padding-right: 20px;}
.p-r-25{padding-right: 25px;}
.p-r-30{padding-right: 30px;}

.p-l-0{padding-left: 0;}
.p-l-5{padding-left: 5px;}
.p-l-10{padding-left: 10px;}
.p-l-15{padding-left: 15px;}
.p-l-20{padding-left: 20px;}
.p-l-25{padding-left: 25px;}
.p-l-30{padding-left: 30px;}

/*dropdown-menu*/
.dropdown:hover>.dropdown-menu {display: block;}

/*table*/
/*table a:not(.btn), .table a:not(.btn){color: #DF691A; text-decoration: none;}*/
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{padding: 15px 6px;}
/*.table-striped > tbody > tr:nth-of-type(2n+1) {background-color: #334659;}*/