/*dashboard left padding*/
.dashboard-left-padding{padding-left:85px;}
/*end of dashboard left padding*/

/*navbar*/
.navbar{border-radius: 0;}
/*/navbar*/

/*dashboard-left-sidebar*/
.dashboard-left-sidebar{height: 100vh; background: #F5F5F5;}
.dashboard-left-sidebar .site-logo{font-size: 21px;}
.dashboard-left-sidebar .navbar{margin-bottom: 0; background: #123;}
.dashboard-left-sidebar .list-group-profile{background: #EAF5FF; border-radius: 0; border: none;}
/*/dashboard-left-sidebar*/

/*dashboard-eden*/
#dashboard-eden{padding-top:60px;}
/*/dashboard-eden*/

/*daily chart*/
.dailychart{
	background: rgb(0, 41, 71) none repeat scroll 0 0;
	position: fixed;
	width: 100%;
	z-index: 4;
}
#chartdiv{display:none;}
.list-pagination{background: #002F51;}
.list-table{margin-top: 10vh;}
.list-table-with-chart{margin-top: 40vh;}
/*end of daily chart*/

/*date selection*/
.date-select-dropdown{min-width:750px;}
/*end of date selection*/

/*comparison chart*/
.clear-chart{position: absolute; top: 1vh; right: 1vh;}
/*end of comparison chart*/

@media screen and (max-width: 422px) { 

/*dashboard-eden*/
#dashboard-eden{padding-left:0;}
.dashboard-left-padding{padding-left:0;}
/*/dashboard-eden*/

}
